html, body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

@page {
    size: 62mm 75mm;
    margin: 0 !important;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.label-container {
    width: 62mm;
    height: 75mm;
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-sizing: border-box;
    overflow: hidden;
}

.label-ref {
    width: 100%;
    font-family: Arial;
    font-size: 18pt;
    flex-shrink: 0;
    font-weight: bold;
}

.label-description {
    font-family: Arial;
    font-size: 12pt;
    text-align: justify;
    overflow: hidden;
    flex-grow: 1;
    white-space: normal;
    word-wrap: break-word;
    margin-top: 5mm;
}

.label-price {
    font-family: Arial;
    font-size: 18pt;
    font-weight: bold;
    text-align: right;
    width: 100%;
    flex-shrink: 0;
}
